.list-food-category {
    margin-top: 10px; 
    margin-bottom: 10px; 
    h6 {
        font-weight: bold; 
    }
    .inv-button {
        background-color: rgba(0, 0, 0, 0); 
        border: none; 
        padding: none; 
    }
  
    .mark-oos {
        transition: all 0.3s ease; 
    }
    
    .mark-oos:hover {
        -webkit-font-smoothing: subpixel-antialiased;
        backface-visibility: hidden;
        transform: scale(1.15);
        cursor: pointer; 
    }

    .mark-oos:focus {
        outline: none; 
        box-shadow: none; 
    }


    .out-of-stock.list-group-item {
        .text-semibold {
            color: rgba(0,0,0,.5) !important; 
            text-decoration: line-through
        }
        .text-right {
            display: none; 
        }
    }

}

#menu-title, #menu-date {
    font-size: 1.1rem; 
}

.input-note {
    margin-top: .25rem; 
    font-size: 80%; 
    color: gray; 
}

.dataTables_wrapper {
    .row {
        overflow: auto; 
    }
}
.card.menu-card {
    .card-body {
        padding: 0 !important; 
        h4.card-title {
            padding: .7rem .5rem 0 .5rem;
        }
        
        ul.list-group {
            h6 {
                padding: 0 1.2rem 0; 
            }
        }
    }
}

td {
    .btn-light {
        border-color: #d8d8d3; 
    }

    .btn-light:hover {
        border-color: #d8d8d3; 
    }
}

